*{
    padding: 0;
    margin: 0;
  }
  
  body{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  /* Nav Bar */
  nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(255, 200, 0);
  }
  #logo img{
    width: 60px;
    height: 60px;
    padding-left: 40px;
  }
  
  .navbtn{
    margin-top: 20px;
    padding-right: 60px;
  }
  .navbtn a{
    color: black;
    background-color: #efefef;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s;
  }
  .navbtn a:hover{
    transition: all 0.3s;
      background-color: rgb(234, 211, 5);
    color: #fff;
    }
  
    /* Home */
    .home{
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      
    }
    .home-heading{
      padding: 150px 120px;
  
      font-size: xx-large;
    }
    .home-heading h1{
      font-size:45px;
    }
    h1 em{
    font-size: 60px;
    font-style: normal; 
    }
    .home-heading p{
      padding:5px 0;
    }
    
    .home-heading button {
      font-size: 15px;
      text-decoration: none;
      color: rgb(0, 0, 0);
      border: 1px solid rgb(242, 194, 3);
      background-color: rgb(254, 195, 2);
      padding: 10px 20px 10px 20px;
     
      margin-top: 15px;
      border-radius: 10px;
      width: 100%;
    }
    
    .home-heading button:hover {
      background-color: rgb(255, 172, 5);
      color: #000000;
      cursor: pointer;
    }
    
    
  .contentimg img{
      width: 500px;
      margin-right: 100px;
      
    }
 
  
 
  /* Coffee */

    .coffee-container {
      display: flex;
      justify-content: space-evenly;
      margin-top: 40px;
     
      
     
    }
  
    
  .coffee-container .coffee-cup{
    width: 250px;
    height: 200px;
    background-color: rgb(255, 196, 0) ;
   
    color: #000000;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
    
    box-shadow: #767676 10px 10px 20px ;
  }
    
 
  .coffee-cup img{
    width: 150px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
    transition: transform 0.4s ease-in 0.04s;
    &&:hover{
      transform: scale(1.2);
    }
  }
  .coffee-cup h2{
    margin-top: -15px;
  }
  .coffee-cup p{
    font-size: 13px;
    padding: 05px;
    
  }
  
  /* Image-text */
  .image-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px;
    margin-top: 30px;
  }
  .image-text img{
    width: 400px;
    margin-right: 40px;
  }
  .image-text p{
    font-size: x-large;
    font-weight: 500;
    margin-right: 30px;
    text-align: justify;
  }
  
 
  